@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600&family=Josefin+Slab:wght@600;700&family=Mulish:ital@0;1&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');