@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600&family=Josefin+Slab:wght@600;700&family=Mulish:ital@0;1&display=swap");

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');




* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab ", serif;
    --font-action: "Muli", serif;
}

html{
    scroll-behavior: smooth;/*suavisa o movimento de uma janela para  a outra*/
}
.hamburguer {
    /*background-color:#fff;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.5s;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    height: .1rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;

}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);


}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    font-family: var(--font-action);
    opacity: 0;

}


.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;

}

.show-menu .hamburguer:hover span {

    opacity: 1;

}


header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}




.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 24, 24, 5);
}


.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;

}


.banner {
    position: absolute;
    top: 30%;
    left: 15%;

}

.banner h1 {
    color: #ffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: movieBanner 1s forwards 0.5s;
}

.banner p {

    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: movieBanner 1s forwards 0.7s;
}


.banner button {


    font-family: var(--font-action);
    color: #ffff;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: movieBanner 1s forwards 0.9s;

}

@keyframes movieBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);

    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover {
    opacity: 0.8;
    color: #24043b;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }

}


.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 140;

}

.show-menu .sidebar {
    right: 0;
    z-index: 150;
}


.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
}

.menu-item {
    text-align: center;
    z-index: 150;

}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
    /*transição da cor*/
    z-index: 150;


}

.menu-link:hover {
    color: #6a3093;
    z-index: 150;
}

.social-media {
    background-color: red;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

social-media i {
    background-color: #6a3093;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media:hover {
    background-color: #a844ff;
}


.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5rem);
    row-gap: .5rem;
   
}


.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1/3;
    z-index: 120;
}

.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3/5;
    z-index: 120;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5/-1;
    z-index: 120;

}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1/3;
    z-index: 120;
}


.conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3/5;
    z-index: 120;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5/-1;
    z-index: 120;
}


.sessao-conhecimentos {
    background-color: #ffffff;
}


.sessao-header {
    display: flex;
    justify-content: center;

}


.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #a044ff;
    margin-bottom: 1.5rem;
}


.conhecimento-header {
    display: flex;
    align-items: center;
    color: #555
}

.conhecimento-header i {
    font-size: 2rem;
}

.conhecimento-header {
    font-family: var(--font-primary);
    padding-left: 1rem;
    font-size: 2rem;
}

.conehcimento-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1rem;
}


.conhecimento-img-wrapper {
    grid-column: 7/2;
    grid-row: 2/5;
    width: 10rem;
    height: 10rem;
    
    
}

.projetos {
    display: flex;
    justify-content: space-evenly;

}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: .5rem;
}

.card-img-wrapper img {

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .5;
}

.card-info {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .4);
    transform: all .3s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eeee;


}

.card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
}

.card-info p {
    font-family: var(--font-secondary);
    color: #eeee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
}

.btn {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);
    font-size: 1.5rem;
    font-family: var(--font-action);
    color: #eeee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0.1 .8rem rgba(0, 0, 0, .4);

}

.card-info button {

    width: 8rem;
    height: 2.5rem;
    cursor: pointer;

}

.card:hover .card-info {

    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contato-wrapper {
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);

}

.contato-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(imagens/contato.png);
    background-size: cover;
}

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 7rem 5rem 5rem;
}

.sessao-contato h1 {
    font-size: var(--font-primary);
    text-align: center;
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;

}

.sessao-contato form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    position: relative;

}

.field {

    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    border-bottom: 1px dashed #636363;
    height: 3rem;
    outline: none;
    /*tira a marcação*/
    margin-top: 2rem;

}

.input-group textarea {
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;

}

.field-label {

    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;

}


.field:focus~label {
    top: 0;
    font-size: 1rem;

}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    cursor: pointer;
    margin-top: 2rem;
}

.preenchido{
    pointer-events: none;
}

.sessao-orcamento {
    width: 100%;
    height: 100vh;
    /*altura da view do usuário*/
    background: url("./imagens/bg-orcamento.png");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.orcamento-wrapper {
    width: 60%;
    height: 80%;
    background-color: #ffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.sessao-orcamento h1 {
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);
    padding: 0 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.sessao-orcamento form {
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;/*espaço entr as colunas*/
    row-gap: 2rem;/*espaço entre as linhas*/
}

.sessao-orcamento label {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: bold;

}

.sessao-orcamento input[type="number"] {
    font-family: var(--font-secondary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
}
.btn-orcamento{
    text-transform: uppercase;
    padding:1rem;
    cursor:pointer
}

footer{
    width:100%;
    height:7rem;
    background-color: #272727;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-content{

    width:60%;
    display:flex;
    justify-content: space-around;
}

.footer-content p{
    font-family:var(--font-secondary);
    color: #a7a7a7;
    font-size:1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color:#fefefe;
}

.social-list ul{
    display:flex;
}

#link-topo{

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right:3rem;
    bottom:3rem;
    width:2rem;
    height: 2rem;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to left, #240b36, #c31432);
    color:#ffff;
    border-radius:5rem;
    box-shadow: 0 0.1rem 0.8rem #000000;


}